.card {
  padding: 1rem !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer;
  width: 100%;
  min-height: 18.75rem;
  background: var(--gray-3) !important;
  border: none !important;
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}

.ant-card-body {
  transition: all 0.3s ease-in-out !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}
