.card {
  padding: 1rem !important;
  cursor: pointer;
  width: 100%;

  background: var(--gray-3) !important;
  border: none !important;
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}

.ant-card-body {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}
